
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<h1>
    @ViewBag.bookpickdate=bookpickdate;
    @ViewBag.bookoffdate=bookoffdate;
    @ViewBag.timepick=timepick;
    @ViewBag.timeoff=timeoff;
    @ViewBag.locationıd=locationıd;
</h1>
<br />
<br />
<br />
